.divA {
    background-color: #C67C2D;
    width: 500px;
    height: 500px;
}

.divB {
    background-color: #388E3C;
    width: 50%;
    height: 50%;
}

.divC {
    color: white;
    background-color: red;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

.divD {
    width: 50%;
    height: 50%vh;
    background-color: rgb(74, 152, 255);
}

.divE {
    width: 75%vw;
    height: 50%;
    background-color: rgb(255, 60, 60);
}
